language: node_js
node_js:
- node
services:
- postgresql
env:
  - secure: NsADZoAB1pg3GiEBluqJjc44AR9HrwokTZC2DL20i/qeHbJ4QWUp8bBxId1eV7TKiL2TVi3TerhMlGLqLsPE0jHK2il8l9gVTB6BNIP9h6EGlbMWkRYvdKUlr7mxJWRORItvuYkkStgkRp/YMMtn4PYKCfD0uDuPxUqo1gh3jiHuZhEOvAtJDbOQyPyTSAQIQBxXAFQPmOTPIFPp9bxOubwYKDLodIsCwpc5b2hIRzCqamXD/qRnLwmDEy9kNROsJfJO0A6XUBAhKPPUYvVmnEqQHF+MSStSaH/Ibn6LblermAPXNZ6KDbqZxw8wrj1OLTvwq4ymmakTjaHVX44ZYG4XTq7k9HNGkSWDOo4bHP5IAgs247wE7btWRpc8cEXWTuamFrN7SPYofRgXdRLDsHvB9n7gK6Tly+lvKSuYLctk0uD6xtrbsOfFdz5jifEFCMUb1VU9j3CH3hpNKGyRKp3RIbxrRIlRFaTKBg2TuP7UCEO4x/uP7TbdXeXr7Dz/0QBzFduXVTBZAaYRt2fJWmkamYp054xZvl5N/r8whRapzJh71u9FVZc5FWe5h8AHKsvDQqlOxjEnyTW+jbqFCWorKFSwQgypA6irbfx/9HXFJBudu2QqZXBXfDJaGRA2oET932n6NvlPKUw219ASJAfkXzM1rAXwqqxU+OrzDck=
  - NODE_ENV=development PORT=9000 DATABASE_URL=postgres://localhost:5432/npstest ACCOUNT_SECRET=feirbhowbeheuiqoh3euohruoehnn 
before_script:
- psql -c "CREATE DATABASE npstest;" -U postgres
script: cd backend && npm install && npm test
