language: node_js
node_js:
  - node
services:
  - postgresql
env:
  matrix:
    - secure: vA3isejLVfY6DuBh+e8aIzPhjdrRUSjA0fIW1sQSaM8yCIFejq+XO0BduXy6IP3kUQ0Pj6opNI9GsN+GzRHYNr2ycrnIVNx70nnOF/QiUe2aUUcRqeJ2Sidjo8KRTcTTNhg87vdq7Ad3TMX3SVBPE2W7MsHI33jAVIgUjnF3mvW1hfpT11HS3WH9rWzl6WgE1N0yVbkwArGvuWTVUzYdGds5Jyz2Vuy2MtxfsA1uN9VsiWfsT5Bzg5TaqePV6xrCYbA45OLBTCvx68HpPaq4f52YW+6ZgDizWkx1JJ1sx5RGVx2qabnPc2HbNms+Wb2lbEnUK3q9JBOZUsDlUX+JukHWx0RMWHrHpB+6Vg3I3kqWXxR91ahOfoQqA/BV6peWpHI8bts0iuJ8X2RQVhDPruCvf/5BVD5xJj32k1cNRLOotSDr3ou4/0idZ4SA0pDKgal0JL2yu/yQ4r+syEwcZuHWRj4+GgSb42SO8TtU2CBrYObohUAn7Exg4tMeBSMztolZegI4tiM6ugOL56z6qxHP07AmHkxeT6v77D9WlFtjGxP3NzoeX0AfNfdSFpKrsnT5ccvdNPKNS/XD89DvTAthd7bWBLjYDu/1jwL5pdXOfEkXjOPULGcHMB4kExJO/hGueSF7TlXIeoRrfC9vUHSD/ha80wKfq8MKEjlk174=
  global:
    - NODE_ENV=development PORT=9000 DATABASE_URL=postgres://localhost:5432/npstest ACCOUNT_SECRET=feirbhowbeheuiqoh3euohruoehnn 
before_script:
  - psql -c "CREATE DATABASE npstest;" -U postgres
script: cd backend && npm install && npm test
