language: node_js
node_js:
  - "10"
services:
- postgresql
env:
  global:
    secure: "Uifc3xzfxrsWLKz4WhoZ6wgv85GAXEBzdapKu54vqySKX9iPwxewFGiho4xc0GjEp0goFmiVknuE+jm27JDu9Guf/I22DushbPM7Ermb+ioZ6JuuEgcekMCIjljyyCCLsEw1zzRAjGmwz7HzxrM7k0mc/eian6c+c/dj3raoaY8ZazWV760EVCuu4VVoaFu+TEvjRwZAYJFbDxJ+DdnfNwGT23h7kWLMjJ2/fyVeDaToWtVLDabTugnAOEmnVukX7E3jVR/Ca3YoTEctHC71EwkhT2paApKylr3Hrlcqd6uIzJyAYK91ubKP6Lvecl2RHOMbUv+LtCZRAlv6H/tmbViF0G9w6wv+OwG0ipz6UOxluDFLo8eC3ng0V8FNZBs8f8sFseP0I4Oh8m4EyKD6AMWKrV3XxrJjJn2/BcDMdltGkiJadCymS7BPp4oXF8wM3+Tfvq/64BIrVZQ+MT2yp3qDehYlP7pZ/J1Ks/ApKmou8/pTtzAdNqF4Qsn39PVjZIHhJF+K+L6Wgk1gHibW90x08ITdl3z94zX6azFQPoqXf7HZrl55b1PiXKrq9ldY3/avrTKE/Wshc+ticU9dHq7VtI/14ZmKmbhA03fkSNv95N0l+R3PB+DM7w2op/w1A3tIFgEPbVeOTXuBTJsg6br2ASjdPc5S387febzQMnk="
    - NODE_ENV=development 
    - PORT=9000 
    - DATABASE_URL=postgres://localhost:5432/npstest
    - ACCOUNT_SECRET=feirbhowbeheuiqoh3euohruoehnn
before_script:
- psql -c "CREATE DATABASE npstest;" -U postgres
script: cd backend && npm install && npm test